div.main{
	display: block;
    margin: auto;
    width: 30%;
	    border: 2px solid lightblue;
    box-shadow: 0 0 5px;
}
div.input_group{
	padding: 10px;
	margin: 10px;
}

input[type="text"] {
    width: 70%;
}

input[type="button"] {
    font-family: Georgia;
    font-size: 17px;
}

.cent{
	text-align: center;
}